.header{
    height: 80px;
    background-color: #1C2835;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: orange;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .header{
        width: 100%;
    }
  }